<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal form-css" novalidate>
        <div class="form-group">
            <label class="col-md-2 control-label">链接</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="" ng-model="tvshow.url" autofocus required ng-maxlength="2048">
                <p class="text-muted">eg. http://www.yayaxz.com/resource/26326</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">关键词过滤</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="tvshow.blob">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">限制季度</label>
            <div class="col-md-8">
                <input type="number" class="form-control" ng-model="tvshow.season" int>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">刷新频率</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="tvshow.refresh_interval" int>
                    <span class="input-group-addon">小时</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <label>
                    <input type="checkbox" ng-model="tvshow.chinese_only">
                    仅中文
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <label>
                    <input type="checkbox" ng-model="tvshow.allow_repeat">
                    允许单集重复
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">提交</button>
</div>
